*__pycache__
./venv
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
WFDataset
Dataset
DeepDataset
WideDataset
MinimalDataset
Z/*
Danique/*
display_test_simulation/*
sim2real_layout/*
sim2real_layout_2/*
sim2real_layout_3/*
naturalearth_lowres/*
FPA_FOD_20210617.gpkg
IP_project.ipynb
IP_project*
display_*
IP_Dataset/*
FPA_FOD_20221014.gpkg
FPA_FOD_20210617.gpkg
newfires.gpkg
display_*
IP_Dataset/*
*.gpkg
./ML_burn_map/results/*
./ML_burn_map/ML/MLDatasets/*
WData/*
trash/*
tmp*
experiments.ipynb
experiments_2.ipynb
experiments.py
FAQ.txt
